@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1024px){
    .container{
        max-width: 90vw;
        margin: 0 auto;
    }

    .imgmot{
        justify-content: space-between;
    }
}


@media screen and (min-width:1025px) {

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 80px 1fr 3fr 80px;
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
        ;
    }

    header{
        grid-area: header;
    }

    main{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 2fr;grid-template-areas: 
        "cor nda str"
        "recom topo topo" 
        ;
    }

    .cordodia{
        grid-area: cor;
    }

    .streak{
        grid-area: str
    }

    .recomendacao{
        grid-area: recom;
    }

    .top{
        grid-area: topo;
    }

    

    footer{
        grid-area: footer;
    }

}