@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1024px){
    .container{
        max-width: 90vw;
        margin: 0 auto;
    }

    section{
        border-radius: 10px;
        overflow: hidden;
    }

    #diario{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 3fr;
        padding: 0px 10px;
        gap: 5px;
    }

    #streak{
        grid-column: 2;
        justify-self: end;
        padding-right: 20px;
    }

    #cordodia{
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        align-self: center;
        padding-left: 20px;
    }

    #recomendacao{
        grid-area: 2 / 1 / -1 / -1;
    }

    #recomendacao h3{
        text-align: center;
        justify-self: center;
        padding: 0;
        margin: auto;
    }

    .rec-info{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto;
        align-items: center;
        justify-content: center;
    }


    .rec-info img{
        width: 100%;
    }

    .rec-descricao{
        margin-left: 50px;
        grid-area: 1 / 2 / -1 / -1;
    }

    #top{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .tops{
        border-radius: 10px;
    }

    #top ol{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width:1025px) {
        .container{
        max-width: 80vw;
        margin: 0 auto;
        transition: all 0.5s;
    }

    header ul{
        gap: 50px;
    }

    section{
        border-radius: 10px;
        overflow: hidden;
    }

    #diario{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 3fr;
        padding: 0px 10px;
        gap: 5px;
    }

    #streak{
        grid-column: 2;
        justify-self: end;
        padding-right: 20px;
    }

    #cordodia{
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        align-self: center;
        padding-left: 20px;
    }

    #recomendacao{
        grid-area: 2 / 1 / -1 / -1;
    }

    #recomendacao h3{
        text-align: center;
        justify-self: center;
        padding: 0;
        margin: auto;
    }

    .rec-info{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto;
        align-items: center;
        justify-content: center;
    }


    .rec-info img{
        width: 100%;
        justify-self: center;
    }

    .rec-descricao{
        margin-left: 50px;
        grid-area: 1 / 2 / -1 / -1;
    }

    #top{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .tops{
        border-radius: 10px;
    }

    #top ol{
        display: flex;
        flex-direction: column;
    }
}