@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --principal: #2a262d;
    --rosa: #b90d52;
    --escuro: #22171e;
    --claro:#EFDFCB;

    --texto: "Nunito", Verdana, sans-serif;
    --logo: "Comfortaa" , Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    font-family: var(--texto);
    background-color: var(--principal);
}

.container{
    padding: 10px;
    display: block;
}

h1,h2,h3,h4{
    font-weight: 400;
}

p{
    font-weight: 100;
}

li{
    list-style-type:decimal;
    list-style-position: inside;
}

nav li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

nav a{
    padding: 5px;
    border-radius: 15px;
    font-weight: 600;
    font-variant: small-caps;
}

nav a:hover{
    text-decoration: underline;
    transition: all 0.2s;
}

.logo{
    font-family:var(--logo) ;
    color: var(--claro);
    font-weight: 800;
}

main{
    display: block;
}

section.diario{
    display: grid;
    grid-area: diario;
    grid-template: 1fr 3fr / 1fr 2fr 1fr;
    grid-template-areas: 
    "cordodia nda streak"
    "recomendacao recomendacao recomendacao"
    ;
    gap: 10px;
}

.cordodia{
    grid-area: cordodia;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.cor{
    background-color: pink;
    height: 100%;
    max-width: 30px;
    width: 100%;
    padding: 20px;
    border-radius: 50%;
}

.streak{
    grid-area: streak;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.3s;
}

.streak p{
    font-weight: bolder;
}

.recomendacao{
    font-size: 1.2em;
    grid-area: recomendacao;
    height: 30vh;
    display: grid;
    grid-template: 30px 1fr / 1fr 2fr;
    grid-template-areas: 
    "tit tit"
    "imgmot imgmot"
    ;
    align-items: center;
    transition: .3s;
}


.recomendacao h3{
    text-align: center;
    grid-area: tit;
    font-size: 1em;
    background-color: var(--roxoescuro);
}

.recomendacao p{
    font-size: 1rem;
}

.imgmot{
    display: flex;
    grid-area: imgmot;
    border: 2px solid rgba(0, 0, 0, 0.13);
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition:all .3s;
}

.imgmot img{
    width: 150px;
}

.imgmot p{
    padding: 20px;
    flex-grow: 0;
    text-align: center;
}

section.top{
    grid-area: tops;
    display: grid;
    grid-template: 30px 1fr / repeat(3, 1fr);
    grid-template-areas: 
    "tit tit tit"
    "topo topo topo"
    ;
    gap: 10px;
}

.top h3{
    grid-area: tit;
    text-align: center;
    font-weight: 500;
    color: white;
    background-color: var(--roxoescuro);
    width: 100%;
}

.top h4{
    text-align: center;
    font-weight: 400;
}

.tops{
    padding: 50px;
}

.top.card{
    grid-area: topo;
    border: 1px solid;
}



.card{
    border: 1px solid var(--principal);
    color: white;
    padding: 10px;
}

.card.streak{
    box-shadow: none;
}

.card.tops{
    max-height: 25vh;
    line-height: 1.8em;
    font-weight: 200;
    border: 1px solid rgba(0, 0, 0, 0.142);
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

